@charset "utf-8";
h1 {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    text-align: left;
	font-size: 48px;
}
h2 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}
label {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}
input {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}
textarea {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}